.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  &__menu {
    ul {
      li {
        display: inline-block;
        zoom: 1;

        
        
        & > a {
          cursor: pointer;
          color: #fff;
          text-decoration: none;

          &:not(:last-of-type) {
            padding-right: 3rem;
          }
        }
      }
    }
  }

  &__user-account {
    font-weight: bold;
  }

  &__log-link {
    color: #fff;
    margin-left:1.5rem;
    cursor:pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  background-color: darkslateblue;
  color: #fff;
}