.login {
  margin: 3rem auto;
  display: grid;
  place-content: center;
  
  form {
    border: 1px solid;
    display: inline-flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    width: 600px;
    border-radius: .3rem;
  }

  h2 {
    text-align: center;
  }

  &__form-group {
    margin-bottom: 1rem;
  }

  &__label {
    font-family: $title-text;
    align-self: left;
  }

  &__input {
    padding: .5rem;
    width: 100%;
    border-radius: .2rem;
    outline: none;
    border: thin solid;
  }

  &__textarea {
    width: 100%;
    resize: none;
    height: 5rem;
    padding: .5rem;
  }

  button {
    padding: .5rem;
    width: 200px;
    margin-top: 1rem;
    cursor: pointer;
  }

  &--error {
    color: red;
    font-weight: bold;
  }
}


.login {
  &__upload-area {
    border: 2px dashed #dedede;
    background-color: #fefefe;
    height: 200px;
  }

  &__image-zone {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__instructions-area {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

    p {
      margin-bottom: 2rem;
    }
  }

  &__image-area {

    height: 200px;
  }


  ///////////////////////////
  &__photo-link {
    font-weight: bold;
    border: 1px solid;
    background-color: #bd1234;
    border-radius: 5px;
    color: #fff;
    padding: .75rem;
    border: 1px solid #fff;
    cursor: pointer;
    max-width: 5rem;
    &:hover {
      background-color: #880f27;
    }
  }

}